{{ $wordleData := . }}

{{ if $wordleData }}
  {{ $guesses := .Guesses}}
  {{ $failed := (len $guesses) | eq 7 }}
  {{ $solution := (index (last 1 $guesses) 0).word }}
  {{ $remaining := (len $guesses) | sub 6 }}

  {{ if $failed }}
    {{ $remaining = 0 }}
  {{ end }}

  {{ $delay := slice "delay-0" "delay-100" "delay-200" "delay-300" "delay-[400ms]" "delay-500" }}

  <div class="group/wordle-grid w-[176px]">
    <div class="relative grid gap-1 font-bold uppercase place-content-start">
      {{ if $failed }}
        <div class="absolute px-1 text-sm font-black uppercase -translate-x-1/2 -translate-y-1/2 border rounded-sm border-neutral-500 -top-1 bg-neutral text-neutral-800 left-1/2 opacity-0 group-[.show-guesses]:opacity-100 group-hover/wordle-grid:opacity-100 transition-opacity delay-[700ms]">
          {{ $solution }}
        </div>
      {{ end }}
    {{ range $guessIndex, $guess := first 6 $guesses }}
      {{ $word := split $guess.word "" }}
      <div class="grid grid-cols-5 gap-1">
        {{ range $letter_index, $letter := $word }}
          {{ if in $solution $letter }}
            {{ $solution_letters := split $solution "" }}
            {{ if eq (index $solution_letters $letter_index) $letter}}
              <div class="flex items-center justify-center w-8 h-8 rounded-sm bg-secondary-500 text-secondary-50">
                <span class="opacity-0 group-[.show-guesses]:opacity-100 group-hover/wordle-grid:opacity-100 transition-opacity {{ index $delay $guessIndex}}">{{ $letter }}</span>
              </div>
            {{ else }}
              <div class="flex items-center justify-center w-8 h-8 rounded-sm bg-primary-500 text-secondary-50">
                <span class="opacity-0 group-[.show-guesses]:opacity-100 group-hover/wordle-grid:opacity-100 transition-opacity {{ index $delay $guessIndex}}">{{ $letter }}</span>
              </div>
            {{ end }}
          {{ else }}
            <div class="flex items-center justify-center w-8 h-8 rounded-sm bg-neutral-600 text-neutral-50">
              <span class="opacity-0 group-[.show-guesses]:opacity-100 group-hover/wordle-grid:opacity-100 transition-opacity {{ index $delay $guessIndex}}">{{ $letter }}</span>
            </div>
          {{ end }}
        {{ end }}
      </div>
    {{ end }} 
    {{ range seq $remaining }}
      <div class="grid grid-cols-5 gap-1">
        {{ range seq 5 }}
          <div class="flex items-center justify-center w-8 h-8 rounded-sm bg-neutral-900 text-neutral-50"></div>
        {{ end }}
      </div>
    {{ end }}
    </div>
  </div>
{{ end }}